<p-dataTable [value]="users" [editable]="true">
        <p-column field="name" header="Name">
          <ng-template let-row="rowData" pTemplate="body">
            <div *ngIf="!row.isEditable">{{row.name}}</div>
            <div *ngIf="row.isEditable">
              <input type="text" [(ngModel)]="row.name">
            </div>
        </ng-template>
        </p-column>
        <p-column field="username" header="username">
          <ng-template let-row="rowData" pTemplate="body">
            <div *ngIf="!row.isEditable">{{row.username}}</div>
            <div *ngIf="row.isEditable">
              <input type="text" [(ngModel)]="row.username">
            </div>
        </ng-template></p-column>    
        <p-column field="date" header="date">
          <ng-template let-row="rowData" pTemplate="body">
            <div *ngIf="!row.isEditable">{{row.date}}</div>
            <div *ngIf="row.isEditable">
              <input type="text" [(ngModel)]="row.date">
            </div>
        </ng-template></p-column>
        <p-column field="document" header="document">
                <ng-template let-row="rowData" pTemplate="body">
                  <div *ngIf="!row.isEditable">{{row.document}}</div>
                  <div *ngIf="row.isEditable">
                    <input type="text" [(ngModel)]="row.document">
                  </div>
              </ng-template></p-column>
              <p-column field="email" header="email">
                    <ng-template let-row="rowData" pTemplate="body">
                      <div *ngIf="!row.isEditable">{{row.email}}</div>
                      <div *ngIf="row.isEditable">
                        <input type="text" [(ngModel)]="row.email">
                      </div>
                  </ng-template></p-column>             
        <p-column field="Options" header="Options" [style]="{'text-align':'center'}">
          <ng-template let-row="rowData" pTemplate="body">
            <button (click)="editRow(row)">Edit</button>
            <button (click)="save(row)">Save</button>
            <button (click)="delete(row)">Delete</button>
          </ng-template>
        </p-column>
       
    </p-dataTable>